table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 70px;
  font-size: 30px;
}
td {
  text-align: left;
  padding: 8px;
  font-size: 20px;
}

tr:nth-child(even) {
  background-color: #f9e79f;
}

th {
  background-color: #04aa6d;
  color: white;
}
